<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="pagetitle">
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="isLoggedIn; then loggedIn; else loggedOut">
  </ng-container>

  <ng-template #loggedIn>
    <ion-row text-center class="mt5">
      <ion-col col-12 icon-start>
        <img src="assets/imgs/logo.png" alt="" width="80px;">
      </ion-col>
      <ion-col col-12>
        <h3>Prateek Agnihotri</h3>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <!-- <ion-col col-10 offset-1 text-right>
                <span>
                  <button ion-button small color="theme" (click) = "editDetails()" *ngIf = "btnStatus">Edit</button>
                  <button ion-button small color="theme" (click) = "saveDetails()" *ngIf = "!btnStatus">Save</button>
                </span>
              </ion-col> -->
      <!-- <ion-col col-10 offset-1>
        <ion-item>
          <ion-label stacked>Name</ion-label>
          <ion-input type="text" [disabled]="noteditable"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-10 offset-1>
        <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input type="email" [disabled]="noteditable"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-10 offset-1>
        <ion-item>
          <ion-label stacked>Mobile Number</ion-label>
          <ion-input type="text" [disabled]="noteditable"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-10 offset-1>
        <ion-item>
          <ion-label stacked>Balance</ion-label>
          <ion-input type="number" [disabled]="true"></ion-input>
        </ion-item>
      </ion-col> -->
      <!-- <ion-col col-12>
      
          <ion-list>
              <ion-list-header>
                Profile
              </ion-list-header>
          <ion-item>
            <ion-label fixed>Username</ion-label>
            <ion-input type="text" value=""></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label fixed>Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        
        </ion-list>
    
  </ion-col> -->
    </ion-row>
    <ion-list>
      <ion-list-header style="    margin-bottom: 0px !important;    font-size: 1.5em;">
        Profile
      </ion-list-header>
      <ion-item>
        <ion-label fixed>Username</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input type="email" [disabled]="noteditable"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Mobile Number</ion-label>
        <ion-input type="text" [disabled]="noteditable"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Balance</ion-label>
        <ion-input type="number" [disabled]="true"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col col-6 offset-3>

        <button ion-button full color="theme" (click)="saveDetails()" *ngIf="!btnStatus" [@fadeInOut]>Save</button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-10 offset-1>
        <button ion-button full>Logout</button>
      </ion-col>
    </ion-row> -->

    <ion-list>
      <ion-list-header style="margin-bottom: 0px !important;font-size: 1.5em;">
        Others
      </ion-list-header>
      <ion-item (click)="editDetails()">
        <ion-icon name="leaf" item-start></ion-icon>
        Edit Details
      </ion-item>
      <ion-item>
        <ion-icon name="leaf" item-start></ion-icon>
        Change Password
      </ion-item>
      <ion-item (click)="logOut()">
        <ion-icon name="leaf" item-start></ion-icon>
        Sign out
      </ion-item>
    </ion-list>
  </ng-template>
  <ng-template #loggedOut>


    <ion-grid class="margintop">
      <ion-row text-center>
        <ion-col col-12 icon-start>
          <img src="assets/imgs/logo.png" alt="" width="80px;">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 text-center>
          <h2 class="welcomecolor">Welcome Back</h2>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col col-12>
          <span>Login to continue</span>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col col-10 offset-1>
          <button ion-button icon-start block style="    text-transform: none;
                color: #ff6700;
                background: white;"
            (click)="loginWithGoogle()">
            <img src="../../assets/imgs/google.jpg" alt="" style="width:18%;">
            Login with Google
          </button>

        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col col-10 offset-1>
          <ion-item>
            <ion-icon name="call"></ion-icon>
            <ion-label stacked>Mobile Number</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Enter Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6 offset-3>
          <button ion-button type="submit" block class="submitbutton" style="background: white;
                    color: #ff6700;"
            (click)="loginWithEmail()">Login
          </button>
        </ion-col>
      </ion-row>
      <ion-row text-center class="forgotbutton">
        <ion-col>
          <span>Forgot Password?</span>
        </ion-col>
      </ion-row>
      <ion-row text-center style="border-top:1px solid lightgrey;">
        <ion-col col-12 class="registermargin">
          <span>Register and Enjoy Benefits</span>
        </ion-col>
        <ion-col>
          <button ion-button clear small class="forgotbutton" (click)="gotoRegister()">Register</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-template>
</ion-content>