
<ion-item no-lines class="paddingleft">
  <ion-item no-lines class="paddingleft">
    <ion-scroll scrollX="true" scroll-avatar id="largecardcontainer">
      <div class="scroll-item" id="largecard">
        <img src='assets/background.png' class="largecardimg" />
        <p>Only at 6999</p>
        <p>Iphone</p>
      </div>
      <div class="scroll-item" id="largecard">
        <img src='assets/a2.jpg' class="largecardimg" />
        <p>50%</p>
        <p>Iphone</p>
      </div>
      <div class="scroll-item" id="largecard">
        <img src='assets/Untitled-2.jpg' class="largecardimg" />
        <p>50%</p>
        <p>Iphone</p>
      </div>
      <div class="scroll-item" id="largecard">
        <img src='http://elinfinitoindia.in/images/fulletron.jpg' class="largecardimg" />
        <div>50%</div>
      </div>
      <div class="scroll-item" id="largecard">
        <img src='http://elinfinitoindia.in/images/fulletron.jpg' class="largecardimg" />
        <div>50%</div>
      </div>
    </ion-scroll>
  </ion-item>
</ion-item>