
<ion-item no-lines class="paddingleft">
  <ion-item no-lines class="paddingleft">
    <ion-scroll scrollX="true" scroll-avatar id="largecardcontainer">
      <div class="scroll-item" id="largecard">
        <img src='../../assets/mobile.png' class="largecardimg" />
        <div>Iphone 6s</div>
        <div>Only at 6999</div>
      </div>
      <div class="scroll-item" id="largecard">
        <img src='http://elinfinitoindia.in/images/fulletron.jpg' class="largecardimg" />
        <div style="width:20vw;">50%</div>
      </div>
      <div class="scroll-item" id="largecard">
        <img src='http://elinfinitoindia.in/images/fulletron.jpg' class="largecardimg" />
        <div>50%</div>
      </div>
      <div class="scroll-item" id="largecard">
        <img src='http://elinfinitoindia.in/images/fulletron.jpg' class="largecardimg" />
        <div>50%</div>
      </div>
      <div class="scroll-item" id="largecard">
        <img src='http://elinfinitoindia.in/images/fulletron.jpg' class="largecardimg" />
        <div>50%</div>
      </div>
    </ion-scroll>
  </ion-item>
</ion-item>