<ion-row>
  <ion-col col-12 style="background:white">
    <ion-row *ngIf="view">
      <ion-col col-2 offset-9 text-right>
        <span style="color:orangered" (click)="ViewAll()">View All</span>
      </ion-col>
    </ion-row>
    <ion-item no-lines class="paddingleft">
      <ion-item no-lines class="paddingleft">
        <ion-scroll scrollX="true" scroll-avatar id="largecardcontainer">
          <ion-card class="scroll-item" id="largecard" (click)="getList(item);" *ngFor="let item of items">
            <img src="../../assets/ss1.jpg" />
            <div class="card-title">{{item.name | titlecase}}</div>
          </ion-card>
        </ion-scroll>
      </ion-item>
    </ion-item>
  </ion-col>
</ion-row>