<ion-row>
  <ion-col col-12>
    <ion-row>
      <ion-col col-6 class="nopadding">
        <img
          src="../../assets/imgs/addidas.jpg"
          alt=""
          style="height:198px;width:190px"
        />
      </ion-col>
      <ion-col col-6 class="nopadding"> <img src="../../assets/imgs/logo.png" alt="" /> </ion-col>
      <ion-col col-6 class="nopadding">
        <img src="../../assets/imgs/addidas.jpg" alt="" style="height:198px;" />
      </ion-col>
      <ion-col col-6 class="nopadding"> <img src="../../assets/imgs/logo.png" alt="" /> </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
