
 <ion-row>
      <ion-col col-2 offset-9 text-right>
        <span style="color:orangered">View All</span>
      </ion-col>
    
    </ion-row>

 <ion-item no-lines class="paddingleft">
    <ion-item no-lines class="paddingleft"> 
      <ion-scroll scrollX="true" scroll-avatar id="largecardcontainer">
        <ion-card class="scroll-item" id="largecard" (click)="getList(items);" *ngFor = "let items of offers">
          <img src='../../assets/imgs/Ajio_e.png' class="largecardimg" />
        </ion-card>
      </ion-scroll>
    </ion-item>
  </ion-item>