page-brands {
    ion-header {
        background: url('../../assets/6320.jpg');
    }
    .toolbar-title-md {
        color: white;
    }
    .bar-button-default-md,
    .bar-button-clear-md-default,
    .bar-button-md-default {
        color: white;
    }
    .toolbar-background-md {
        background: transparent;
    }
}