toolsegmentbtn {
  .toolbar .segment-md .segment-button {
    color: orange;
    opacity: 1;
    font-size: larger;
    border: none;
  } // no bottom paddign segment col
  .segmentcol {
    padding-bottom: 0px !important;
    margin-bottom: 0px;
  } // no bottom padding segment card
  .segmentcard {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
  } // no bottompadding grid class
  .segmentgrid {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
  } // to reduce the height and bottom distance from segment borders
  .toolbar-md {
    min-height: 52px !important;
  } // to center image 
  .centerimage {
    margin: 0 auto;
  }
  .toolbar .segment-md .segment-button:activated {
    color: orange;
    opacity: 1;
    font-size: larger;
    border: none;
  }
}
