page-deals {
    .fab-md-light {
        color: white;
        background-color: #ff6700;
    }
    .icn {
        font-size: 2.4rem;
    }
    .btnBottom {
            
            position: fixed;
            bottom: 2%;
            right: 2%;
        
    }

    .active{
        display:none;
    }
}