page-stores {
    .toolbar-background-md{
        background: #FF6700;
    }
    .toolbar-title-md{
        color:white;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color:white;
    }
}
