page-share {
    #shareimage {
        margin-top: 5%;
    }
    #earning {
        display: inline-block;
    }
    ion-icon {
        font-size: 35px;
    }
    #shareicon button {
        background: white;
    }
    $background-md-color:white;
  
    h3{
        text-align: center;
        color:#5683FF;
    }

    .mybutton{
        margin:0px !important;
        padding:0px !important;
        height:3.5em;
    }

    .toolbar-background-md{
        background:white !important;
    }
}